@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0; 
  /* font-size: 100%; */ font: inherit; margin: 0; padding: 0;
  /* vertical-align: baseline; */  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body   { line-height: 1 }
ol, ul { list-style: none }
table  { border-collapse: collapse; border-spacing: 0 }

blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: none }


/*  
  E S T I L O S    G E N E R A L E S
*/

html, body { width: 100%; color: #000 }
body       { font-family: Roboto, Verdana, sans-serif; font-weight: 300; background: white }
li         { padding: 0.3em 0; cursor: pointer }
a          { text-decoration: none }

h1 { font-size: 2.5em; font-weight: 400; margin: 1.4em 0 }
h2 { font-size: 2em;   font-weight: 400; margin:   1em 0; color: #FF9501 }
h3 { font-size: 1.5em; font-weight: 400; margin:  .6em 0 }
h4 { font-size: 1.5em; font-weight: 400; margin: 0 }


.center { text-align: center }

/***************/
/*  L O G I N  */
/***************/
.container { text-align: center; padding: 2em 0 }

.form-signin {
  text-align: left; height: 300px; width: 350px;  position: absolute;
  left: 50%; top: 50%; margin: -190px 0 0 -195px; padding: 2em; border: 1px solid #bbb;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px #a7a7a7,inset 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 10px #a7a7a7,inset 0 1px 0 #fff;
          box-shadow: 0 1px 10px #a7a7a7,inset 0 1px 0 #fff;
  background: url(../images/candado-2.jpg) white no-repeat; background-size: contain;
}

.form-signin li { margin: .9em 0; height: 3em; text-align: center }

/*  B O T O N E S  */
.boton {
  background: url(../images/bg_button.png) repeat-x center;
  padding: 10px 20px;
  line-height: 1em;
  margin: 0 10px;
  border: 0px;
  color: #FFF;
  font-weight: 400;
  font-size: 1.2em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;   
}

.btn-primary       { background-color: #09C }
.btn-primary:hover { background-color: #07B }

.btn-secundary       { background-color: #F00 }
.btn-secundary:hover { background-color: #D00 }



/*  N A V E G A C I O N   L A T E R A L   */

.nav    { width: 300px; position: absolute; margin: 0 0 0 1px }
.nav li { margin:0; padding:0 }

.oculta{ display: none }
.visible{ display: block }

.nav a { display: block; text-decoration: none; font-size: 1em;
  white-space: nowrap; padding: 0.8em; color: #242424;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right:  1px solid rgba(0, 0, 0, 0.3);
}

.nav a:hover {
  display: block;
  border-right: 11px solid rgba(0, 0, 255, 0.3);
}

.seleccionado{
    border-left: 10px solid #07B; text-indent: 5px; font-weight: bold;
}

.submenu{
    background: #eeeeee; font-size: .8em; text-indent: 30px; display: none;
}



p { font-size: 16px; margin: 20px 0 }

@media (min-width: 420px) {
  p { font-size: 24px; }
}


/*  C A M P O S   D E   T E X T O S (F O R M U L A R I O S)   */

.formulario{
  border: 1px solid #848484; 
  margin: 0 30px 10px 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

textarea,
select,
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"], input[type="password"],
input[type="search"], input[type="tel"], input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;          
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;          
  background-color:transparent; 
  border: 1px solid #c1c1c1;
  color: #000;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  height: 100%;
}

.input_tiny    { width: 50px }
.input_small   { width: 100px }
.input_medium  { width: 150px }
.input_large   { width: 200px }
.input_Xlarge  { width: 250px }
.input_XXlarge { width: 300px }
.input_3Xlarge { width: 400px }
.input_4Xlarge { width: 500px }
.input_5Xlarge { width: 600px }
.input_full    { width: 100% }



/*  H E A D E R  */
header { height: 50px; background: rgba(0, 0, 0, 0.7); padding: 1em; margin: 0 }
header h2 { float: left; margin: 0; padding: 0; display: inline-block }
header .name { margin: .6em 3em; color: #FFF; display: inline-block }

.admin_content { clear: both; background: rgba(0, 0, 0, 0.5); position: relative }
.admin_work    { background: #fff; color: #222; padding: 10px 0 0 320px }


/*   G R I D   */
.row { padding: 15px 0; overflow: hidden }
.row > div { line-height: 2em; }

.col1  { float: left; width: 6.33333%;  margin: 0; padding: 0 1% }
.col2  { float: left; width: 14.66667%; margin: 0; padding: 0 1% }
.col3  { float: left; width: 23%;       margin: 0; padding: 0 1% }
.col4  { float: left; width: 31.33333%; margin: 0; padding: 0 1% }
.col5  { float: left; width: 39.66667%; margin: 0; padding: 0 1% }
.col6  { float: left; width: 48%;       margin: 0; padding: 0 1% }
.col7  { float: left; width: 56.33333%; margin: 0; padding: 0 1% }
.col8  { float: left; width: 64.66667%; margin: 0; padding: 0 1% }
.col9  { float: left; width: 73%;       margin: 0; padding: 0 1% }
.col10 { float: left; width: 81.33333%; margin: 0; padding: 0 1% }
.col11 { float: left; width: 89.66667%; margin: 0; padding: 0 1% }
.col12 { float: left; width: 98%;       margin: 0; padding: 0 1% }




/*  V E N T A N A   M O D A L   */
.modal{
    background: rgba(0,0,0,.3);
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;    
    color: #FFF;
    z-index: 10;
    display: none;
}
.info_modal{
    width: 650px; height: 100px; 
    position: absolute; left: 50%; top: 35%; 
    margin: -10px 0 0 -300px; padding: .5em; 
}

.modal .message{
  text-indent: 55px; color: #222;
  font-family: Verdana, sans-serif; font-weight: 700; font-size: 1em;
  padding: 1.5em 0 0;
}


.modal .close{
    position: absolute; right: 5px; top: 5px; width:40px; height:40px;
    font-size: 1.4em; font-weight: 700; 
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;     
}

/*  M E N S A J E S   */
.message-warning { color: #754D07; border: 1px solid #754D07; background: url(../images/warning.png) 10px center no-repeat #F6D7A1 }
.message-error   { color: #b94a48; border: 1px solid #b94a48; background: url(../images/error.png)   10px center no-repeat #f2dede;}
.message-info    { color: #3a87ad; border: 1px solid #3a87ad; background: url(../images/info.png)    10px center no-repeat #d9edf7 }
.message-success { color: #468847; border: 1px solid #468847; background: url(../images/success.png) 10px center no-repeat #d1feba }


/* L I S T A D O S */
.listado h3 { padding: .5em }
.listado li { padding: .5em .5em .5em 1.5em }


